<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>varioqub usage example</title>

        <link rel= "stylesheet" type= "text/css" href="static/styles/style.css">


        <!-- RUS: Эти строчки можно найти на странице счетчика на https://metrika.yandex.ru.
             Они запускают сессию для пользователя, отслеживают его действия. Должно присутствовать на всех страницах
             ENG: These lines of code are copied from counter page at https://metrika.yandex.ru.
             They are responsible for initializing counter session to track user's actions. It is recommended to insert them on all pages -->

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(<YOUR_COUNTER_ID>, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
            });
        </script>
        <!-- /Yandex.Metrika counter -->


        <!-- RUS: Так как ответ от сервиса экспериментов приходит уже после того как страница загрузилась, то возникает мерцание.
             Для борьбы с этим существует специальный элемент. Они должны присутствовать на всех страницах с экспериментом
             ENG: The page will be loaded before the response from the server is received, which will change it, hence it will flicker.
             To counteract this, you may insert these lines, that prevent page from initial rendering. It is recommended to insert them on all pages with experiments -->
        <!-- Varioqub antiflicker -->
        <style>.varioqub-antiflicker {opacity: 0 !important;}</style>
        <script>
            (function(a,n,t,i,f,li,c,k,e,r){
                a[t]=a[t]||function(){(a[t].a=a[t].a||[]).push(arguments)};n.classList.add(i);c=function(){n.classList.remove(i)};li.callback=c;a[t].antiFlicker=li;setTimeout(c,f);
            })(window, document.documentElement, 'ymab', 'varioqub-antiflicker', 500, { 'metrika.<YOUR_COUNTER_ID>': true });
        </script>
        <!-- /Varioqub antiflicker -->


        <!-- RUS: Эти строчки нужно скопировать со страницы эксперимента, они отвечают за автоматическое изменение страницы для пользователя.
             В данном случае нас интересует получения доступа к ymab, через которую мы сможем получить флаги.
             Если делать запрос напрямую (аналогично запросу через backend), то можно удалить код ниже, однако такой способ не рекомендуется
             ENG: These lines of code are copied from experiments page, they are responsible for initializing experiment and altering the experiment page.
             In this case, giving access to ymab method, which can be used to receive flags for the user.
             Take note, that it is not necessary to add these lines if you receive flags directly from uaas.yandex.ru (like backend example) -->
        <!-- Varioqub experiments -->
        <script type="text/javascript">
            (function(e, x, pe, r, i, me, nt){
                e[i]=e[i]||function(){(e[i].a=e[i].a||[]).push(arguments)},
                me=x.createElement(pe),me.async=1,me.src=r,nt=x.getElementsByTagName(pe)[0],nt.parentNode.insertBefore(me,nt)
            })
            (window, document, 'script', 'https://abt.s3.yandex.net/expjs/latest/exp.js', 'ymab');

            // RUS: Инициализация не требуется, так как получение флагов ее выполняет по умолчанию
            // ENG: Initializing isn't necessary, because fetching flags with ymab does it automatically
            // ymab('metrika.<YOUR_COUNTER_ID>', 'init'/*, {clientFeatures}, {callback}*/);
        </script>
        <!-- /Varioqub experiments -->


        <!-- RUS: Здесь запускаем скрипт, который получит флаги из разделителя и выставит нужную фотографию
                ENG: Script that fetches flags and sets corresponding image -->
        <script type="text/javascript">
            const imageID = "corgiImage";

            // RUS: Здесь флаги получены через обертку над запросом к uaas.yandex.ru, использование ymab предпочтительнее,
            // однако, если данный способ все же не подходит, то необходимо выполнить действия как в примере backend, но на стороне пользователя.
            // Также стоит обратить внимание на то, что запрос ниже вернет лишь флаги с типом "flag", так как иные обрабатываются exp.js
            // ENG: here flags are fetched with ymab which is a uaas.yandex.ru request wrapper,
            // if for some reason you don't want to use it, then follow backend example, but implement it in js.
            // Take note, that ymab returns only flags that have type "flag", unlike direct request

            ymab(
                // RUS: Здесь ваш счетчик
                // ENG: Your counter name
                'metrika.<YOUR_COUNTER_ID>',

                // RUS Метод для получения флагов на данного пользователя
                // ENG: Method to receive flags
                'getFlags',

                // RUS: Функция, которая вызовется после получения флагов
                // ENG: Callback function to handle received flags
                function (flags) {
                    // RUS: Так как у нас лишь один флаг, то сразу обработает его
                    // ENG: Only one experiment is running, so we handle it inplace
                    const values = flags.corgi_image;
                    if (values) {
                        if ("red_corgi" === values[values.length - 1]) { // last value is from latest experiment
                            // RUS: Меняем изображение, если получили значение флага из эксперимента
                            // ENG: Change an image, if value from experiment settings is received
                            document.getElementById(imageID).src = "static/src/red_corgi.png";
                        }
                    }
                }
            );
        </script>

        <noscript><div>Enable javaScript support in your browser for this page to work</div></noscript>
    </head>

    <body>
        <header>
            <h1 class="question">Am I a good boy?</h1>
        </header>

        <section>

            <!-- RUS: Всегда нужно устанавливать отображение по умолчанию, так как эксперимент может быть не запущен
                 ENG: Ensure default variant exists in case of experiment being inactive -->
            <img class="img" src="static/src/black_corgi.png" id="corgiImage"/>

             <!-- RUS: Метрика будет считать взаимодействие с кнопкой (так как это перезагружает страницу) в зависимости от картинки (группы эксперимента)
                  ENG: Metrika will track interactions with button (because it reloads page) depending on image (experiment group) -->
            <div class="choice-container">
                <button type="submit" class="choice good">Yes, of course!</button>
            </div>
        </section>
    </body>
</html>
